<div class="movie-container">
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
    </mat-card-header>
    <img class="movie-poster" [src]="movie.ImagePath" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="getMsg(movie.Genre.Description)">
        Genre
      </button>
      <button mat-raised-button color="accent" (click)="getMsg(movie.Director.Bio)">
        Director
      </button>
      <button mat-raised-button color="warn" (click)="getMsg(movie.Description)">
        Synopsis
      </button>
      <button mat-icon-button (click)="modifyFavoriteMovies(movie)">
        <mat-icon>{{ isFavorite(movie) ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>